body { margin: 0; }

section { padding-top: 100px; }

.reddit-header { 
	/* position */
    position:		fixed;
	z-index:		2147483647;
    min-width:		15%;
    min-height:		20px;
    /* margins */
    left:			10px;
    top:			2px;
	padding: 		6px 16px;
	/* color & text */
	background: 	#cee3f8;
	color: 			black;
	font-size: 		16px;
	font-family: Verdana,sans-serif;
	/* borders */
	border-style: solid;
    border-width: 	2px;
	border-radius: 	4px;
	border-color:	#5f99cf;
}

.reddit-header .subreddit {
	font-size: 8px;
	color: #888;
	font-weight: bold;
    padding: 0 1px;
}

.reddit-header a {
	text-decoration: none;
	color: black;
}